@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box;}
body{background: url("images/softswirls.jpg.png")no-repeat;
	background-size: cover;
	font-family: 'Poppins', sans-serif;
	color:#4A4A4A;
	font-size: 18px;
	line-height: 1.6;}
.page-title {color:#D81B60; font-family: 'Playfair Display', serif; text-align: center; padding: 20px 0;}
h1, h2, h3 {color:#d81b60; font-family: 'Playfair Display', serif;}
a{display: inline-block; transition: transform 0.2s ease-in-out; color: #d81b60; text-decoration: none;}
a:link{color: #d81b60; text-decoration: none;}
a:visited {color:#a04860; text-decoration: none;}
a:active {color: #F06292;}
a:hover {transform: scale(1.2); color:#B8326A; text-decoration: underline;}
#container{width: 800px; margin: 0 auto; padding: 10px; background-color: rgba(255,255,255,0.2); border-radius: 15px;}
.left{width:380px;
height:450px;
background-color: rgba(160,71,73,0.3);
border-radius: 25px;
float:left;
margin-right:5px;
padding:10px}
.right{width:380px;
height:450px;
background-color: rgba(160,71,73,0.3);
border-radius: 25px;
float:left;
margin-right:5px;
padding: 10px}
footer { clear: both; text-align: center; padding: 20px; font-size: 14px; color: #535353}
nav { text-align: center; margin-bottom: 20px;}
.imagemap{clear: both; text-align: center; margin-top: 40px;}